/* Tarjetas */
.stat-card {
  position: relative;
  border: 2px solid #9d91ff;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  }

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff6f61, #6c63ff);
    border: none;
    border-radius: 15px;
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover:before {
    filter: brightness(1.2);
  }

  .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
}

/* Círculos de Progreso */
.circular-chart {
  display: block;
  margin: auto;
  max-width: 80px;
  max-height: 80px;
}

.circle-bg {
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: #ff6f61;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards !important;
}

.tip-card {
  border: 2px solid #9d91ff;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.tip-card:hover {
  background: linear-gradient(45deg, #ff6f61, #6c63ff);
  color: white
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.month {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.days-grid span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.reading-day {
  background-color: #ff6f61;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.reading-day:hover {
  transform: scale(1.2);
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* Ajustar Espaciado en Pantallas Pequeñas */
@media (max-width: 576px) {
  .text-gradient {
    font-size: 1.5rem;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .stat-card {
    padding: 1rem;
  }
}