/* Contenedor de Estadísticas */
.content-box {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

/* Tarjetas */
.stat-card {
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #D06B93, #9B67CD);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.stat-card .card-title {
    font-weight: bold;
    color: #ffffff;
}

.stat-card ul {
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.stat-card ul li {
    font-size: 0.9rem;
    color: #ffffff;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 350px;
    overflow: hidden;
}

canvas {
    max-width: 90%;
    max-height: 90%;
    transition: all 0.4s ease-out;
    color: white !important;
}

canvas:hover {
    transform: scale(1.075);
}

.kpi-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 130px;
    min-height: 130px;
    text-align: center;
}

.kpi-icon {
    font-size: 2.5rem;
    color: white;
    margin-right: 1rem;
}

.kpi-info h5 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.kpi-info p {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
}

/* Estilos personalizados para cada KPI */
.kpi-completion {
    background: linear-gradient(135deg, #6a89cc, #b8e994);
}

.kpi-time {
    background: linear-gradient(135deg, #b8e994, #20a714);
}

.kpi-pending {
    background: linear-gradient(135deg, #26a452, #901bf7);
}